*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-moz-selection {
  background: #c06c4b;
}

*::selection {
  background: #c06c4b;
}

html {
  width: 100%;
  height: 100%;
  font-size: 10px;
}
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 18px;
  }
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Proxima Nova Rg";
  background: #000;
  animation: fadeIn 2.2s ease-out;
}

a {
  text-decoration: none;
  transition: 0.6s all;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.heading {
  font-size: 3.2rem;
  font-weight: bold;
  opacity: 1;
  color: #fff;
}

.regular {
  font-size: 1.3rem;
  color: #c1caca;
  opacity: 1;
  text-align: justify;
}

p {
  text-align: justify;
  backface-visibility: hidden;
}

.heading-contact {
  font-size: 2rem;
  opacity: 1;
  width: 100%;
  color: #fff;
  text-align: center;
  margin-bottom: 1.875rem;
}

.fullpage-wrapper {
  width: 100% !important;
  transform: none !important;
}

.fp-section {
  width: 100% !important;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  transition: all 0.7s ease-in-out;
}

.fp-section.active {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.logo {
  height: 30px;
  width: 30px;
  position: fixed;
  left: 20px;
  top: 15px;
  cursor: pointer;
  z-index: 2;
  display: none;
}
.logo img {
  max-width: 35px;
}

* {
  cursor: none !important;
}

@media (min-width: 992px) {
  .cursor {
    --size: 30px;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    position: absolute;
    z-index: 10000;
    transform: translate(-50%, -50%);
    pointer-events: none;
    backface-visibility: hidden;
  }

  .cursor.cursor-shadow {
    border: 2px solid #c06c4b;
    transition: width 0.5s, height 0.5s, border 0.35s;
    transition-timing-function: ease-out;
  }

  .cursor.cursor-dot {
    height: 10px;
    width: 10px;
    background: #fff;
    transition: width 0.25s, height 0.25s;
  }

  .cursor-shadow.active {
    --size: 80px;
    z-index: 9000;
  }

  .cursor-dot.active {
    --size: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadein {
  visibility: hidden;
}

/* supposing #fullpage is your fullPage.js wrapper */
html,
body,
#fullpage {
  height: 100%;
}

.section {
  height: 100%;
}

.social,
.lang-btns,
.left-phrase,
.phone {
  visibility: hidden;
}

.rev-block {
  display: inline-block;
  position: relative;
  backface-visibility: hidden;
  padding: 1px;
}

.rev-block span {
  opacity: 0;
  animation: appear-text 0.0001s linear forwards;
  animation-delay: 1.4s;
}

.rev-block:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 100%;
  background: #c06c4b;
  animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay: 1s;
}

@keyframes rev-block {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}
@keyframes appear-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#delay span {
  animation-delay: 2s;
}

#delay.rev-block:after {
  background: #c06c4b;
  animation-delay: 1.4s;
}

.zvonok-link {
  color: #fff !important;
  font-size: 0.8rem;
}

button {
  background: transparent;
  border: none;
}

.btn-zg {
  color: #fff;
  background: none;
  border: 1px solid #c06c4b;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  outline: 0;
  padding: 12px 35px;
  display: inline-block;
  transform: skew(-31deg);
  /* Un-skew the text */
}
.btn-zg:visited {
  color: #fff;
}
.btn-zg > span {
  display: inline-block;
  transform: skew(31deg);
}

.btn-zg-sm {
  color: #fff;
  background: none;
  border: 1px solid #c06c4b;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  outline: 0;
  padding: 12px 35px;
  display: inline-block;
  transform: skew(-31deg);
  /* Un-skew the text */
}
.btn-zg-sm:visited {
  color: #fff;
}
.btn-zg-sm:hover {
  background: #c06c4b;
}
.btn-zg-sm > span {
  display: inline-block;
  transform: skew(31deg);
}

.button-slider {
  position: absolute;
  z-index: 3;
  bottom: 2rem;
  right: 3rem;
}

.button-projects {
  position: absolute;
  z-index: 3;
  left: 50%;
  transform: translate(-50%);
}

.left {
  left: 42%;
  margin-right: 1.5rem;
  outline: none;
}
.left:hover {
  cursor: pointer;
  outline: none;
}
.left:focus {
  outline: none;
}

.right {
  left: 58%;
  outline: none;
}
.right:hover {
  cursor: pointer;
  outline: none;
}
.right:focus {
  outline: none;
}

.left:hover polyline,
.left:focus polyline {
  stroke-width: 3;
}

.left:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

.right:hover polyline,
.right:focus polyline {
  stroke-width: 3;
}

.right:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

polyline {
  transition: all 250ms ease-in-out;
}

.hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #c06c4b;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-shutter-in-horizontal:hover,
.hvr-shutter-in-horizontal:focus,
.hvr-shutter-in-horizontal:active {
  color: white;
}

.hvr-shutter-in-horizontal:hover:before,
.hvr-shutter-in-horizontal:focus:before,
.hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.hero {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/Z_bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
}
.hero__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-logo {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-height: 295px !important;
}

.slogan {
  margin-top: 1.875rem;
  position: relative;
  font-size: 1.875rem;
}

.ziglane {
  max-width: 130px;
  margin-right: 1.25rem;
}

.scroll_down {
  position: absolute;
  bottom: 0;
  right: 50%;
}

.border {
  content: "";
  display: inline-block;
  width: 20px;
  height: 1px;
  background-color: #333;
  vertical-align: middle;
}

.c-scrolldown {
  width: 1px;
  height: 80px;
  margin-left: 1rem;
  overflow: hidden;
}
.c-scrolldown .c-line {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(to bottom, #c06c4b 50%, rgba(255, 255, 255, 0) 50%);
  background-position: 0 -80px;
  background-size: 100% 200%;
  animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
}

@keyframes scrolldown {
  0% {
    background-position: 0 -80px;
  }
  75% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 80px;
  }
}
.about {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/about_back.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
}
.about .container {
  position: relative;
  top: 40%;
  transform: translateY(-40%);
}

.about_text {
  max-width: 35rem;
  margin-left: 8rem;
  text-align: justify;
}

.about_line {
  max-width: 85px;
}

.left-phrase-about {
  position: relative;
  left: 25px;
  top: 4.0625rem;
}
.left-phrase-about p {
  font-size: 1.125rem;
}

.services {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/services_bg.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  color: #fff;
}
@media (min-width: 992px) {
  .services .container {
    position: relative;
    top: 15vh;
  }
}

.slider__wrap {
  position: relative;
}

.slider_line {
  max-width: 2.8125rem;
  height: 0.5rem;
}

.slider_right {
  position: relative;
  z-index: 1;
}

.control {
  vertical-align: middle;
  transition: 0.4s all;
}
.control img {
  margin-top: 0.3rem;
  margin-right: 1rem;
}
.control p {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #6c757d;
  transition: color 0.4s ease;
}

.control:hover {
  cursor: pointer;
}
.control:hover p {
  color: #fff !important;
}

.slider__list li.active p {
  color: #fff !important;
}

.services_desc {
  max-width: 33rem;
  font-size: 1rem;
}

.slider_wrap img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-height: 1.3rem;
}

.slider_left {
  position: relative;
  z-index: 2;
}

.prev,
.next {
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  position: relative;
  z-index: 1000;
}

.control_wrap {
  position: absolute;
  left: 3rem;
  bottom: 3rem;
}

.slider_img-01 {
  margin: 5%;
  width: 35rem;
  height: 45vh;
  background: url("../img/web-sites.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.slider_img-02 {
  margin: 5%;
  width: 35rem;
  height: 45vh;
  background: url("../img/b-s.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.slider_img-03 {
  margin: 5%;
  width: 35rem;
  height: 45vh;
  background: url("../img/mobile-app-1.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.slider_img-06 {
  margin: 5%;
  width: 35rem;
  height: 45vh;
  background: url("../img/c-solutions.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  .slider_img-01,
.slider_img-02,
.slider_img-03,
.slider_img-06 {
    display: none;
  }

  .slider_wrap {
    position: absolute;
    top: 10vh;
  }
}
.fade-transition {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.8s;
  animation-name: fade;
  animation-duration: 2.8s;
  backface-visibility: hidden;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
.numbertext {
  position: absolute;
  bottom: 0px;
  margin-left: 4rem;
  font-size: 2rem;
  font-weight: 300;
  color: #6c757d;
  font-family: "Lato", sans-serif;
}

.mob-numbertext {
  float: right;
  font-size: 2rem;
  font-weight: 300;
  color: #6c757d;
  font-family: "Lato", sans-serif;
}

.mobile_controls {
  display: none;
}

@media (max-width: 992px) {
  .slider_wrap {
    display: none;
  }

  .btn-slider-sm {
    display: inline-block;
    margin-top: 2rem;
  }

  .mob-numbertext {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  .btn-slider-sm,
.mob-numbertext {
    display: none !important;
  }
}
.btn-slider-sm {
  display: inline-block;
  margin-top: 2rem;
}

.mobile_services {
  display: none;
}

@media (max-width: 992px) {
  .swiper-button-next, .swiper-button-prev {
    display: none;
  }

  .mobile_services {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
.projects {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/projects_bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ====================================
Projects Slider
==================================== */
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: none;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination {
  display: flex;
  justify-content: flex-end;
  font-size: 3rem;
  font-weight: 300;
  color: #6c757d;
  font-family: "Lato", sans-serif;
}

.projects-slider {
  margin: 15%;
}

.swiper-button-next,
.swiper-button-prev {
  background: none;
}

.projects-info {
  position: absolute;
  font-weight: 600;
  left: 5px;
  text-align: left;
  z-index: 1000;
  bottom: 1.2rem;
}
.projects-info p {
  font-size: 1rem;
  max-width: 350px;
  display: inline-block;
}

.project-img {
  padding: 8%;
}

@media (max-width: 992px) {
  .projects-slider {
    margin: 5%;
  }

  .projects-info p {
    max-width: 220px !important;
  }
}
@media (max-width: 320px) {
  .projects-info p {
    max-width: 150px !important;
  }
}
.offer {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/offer_bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
}
.offer .container {
  position: relative;
  top: 45%;
  transform: translateY(-45%);
}

.offer_text {
  max-width: 40rem;
  margin-left: 3.5rem;
}

.button-offer {
  margin-top: 3rem;
}

.offer_img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#object {
  position: absolute;
  top: -4rem;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.heading-offer {
  font-size: 2.3rem;
  opacity: 1;
  color: #fff;
}

.contact {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/contacts_bg.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  color: #fff;
}
.contact .container-fluid {
  max-width: 85% !important;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px;
}

.form-label {
  color: #fff;
  margin: 0;
  display: block;
  opacity: 1;
  -webkit-transition: 0.333s ease top, 0.333s ease opacity;
  transition: 0.333s ease top, 0.333s ease opacity;
}

.form-input {
  border: none;
  border-bottom: 1px solid #333;
  padding: 5px;
  margin-bottom: 3rem;
  outline: none;
  width: 100%;
  color: #fff;
  font-size: 1.125rem;
  background: transparent;
}

.form-input:focus {
  box-shadow: none;
  border-color: #2d2d2e;
  background: transparent;
}

.js-hide-label {
  opacity: 0;
}

.js-unhighlight-label {
  color: #999;
}

.contact_links {
  position: relative;
}
.contact_links li {
  margin-top: 1.5rem;
}
.contact_links li i {
  color: #c06c4b;
  font-size: 1.25rem;
  margin-right: 0.5rem;
  padding-top: 8px;
}
.contact_links li a {
  color: #fff;
  font-size: 1.3125rem;
  text-decoration: none;
}
.contact_links li a:hover {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.cf_wrap, .cf_left_wrap {
  padding: 30px;
}

.cf_wrap {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

@media (min-width: 992px) {
  .contact_links {
    position: relative;
    bottom: 0;
  }
}
@media (max-width: 992px) {
  .cf_wrap {
    margin-top: 3%;
  }

  .contact_links {
    position: relative;
  }
  .contact_links li {
    margin-top: 1.5rem;
  }
  .contact_links li i {
    color: #c06c4b;
    font-size: 1.5rem;
    margin-right: 1.8rem;
  }
  .contact_links li a {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
  }
  .contact_links li a:hover {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }
}
@media (max-width: 992px) {
  .side_nav,
.left-phrase,
.left-phrase-about,
.slider__list,
.fp-nav,
.button-slider,
.controls_wrap {
    display: none !important;
  }

  .slider_right {
    margin-left: 6rem;
  }

  .offer_img {
    display: none;
  }

  .heading-contact {
    font-size: 2rem;
  }

  .regular {
    font-size: 12px;
    padding: 3%;
  }

  .heading {
    font-size: 2rem;
  }

  .button-offer {
    margin-top: 2rem;
    margin-left: 4rem;
  }

  .button-projects {
    bottom: 3.5rem;
  }

  .about_line {
    margin: 0;
  }

  .menu-icon {
    height: 30px;
    width: 30px;
    position: fixed;
    z-index: 2;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }

  .nav__list-item {
    position: relative;
    display: block;
  }

  .logo {
    display: inline-block;
  }

  .form-input {
    margin: 0;
  }

  .contact .container-fluid {
    max-width: 100% !important;
  }

  form button {
    margin-top: 1.5rem;
  }

  .slash {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.6);
  }

  .cf_left_wrap {
    padding: 0px;
  }
}
.modal {
  z-index: 10000 !important;
  background: rgba(0, 0, 0, 0.6);
}

.modal-content {
  border: none !important;
  padding: 3%;
  background: #212529;
  color: #fff;
}

.close {
  color: #fff !important;
}

.modal-dialog {
  top: 50% !important;
  transform: translateY(-50%) !important;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 800px !important;
  }
}

.modal-header {
  border: none !important;
  text-align: center;
}

.modal-title {
  font-size: 2rem;
}

.modal-footer {
  border: none !important;
}

.modal-body p {
  font-size: 1.5rem;
}

.modal-backdrop {
  z-index: 3 !important;
}

.close {
  text-shadow: 0 !important;
  outline: none !important;
  margin: 0 !important;
}
.close:focus {
  outline: none !important;
}

.modal-zayavka {
  max-width: 800px !important;
}

#input__contacts {
  border: none;
  border-bottom: 1px solid #333;
  padding: 5px;
  margin-bottom: 20px;
  outline: none;
  width: 100%;
  color: #333;
  font-size: 1rem;
}

.attach {
  margin-top: 3%;
}
.attach:hover {
  cursor: pointer;
}

.textarea {
  resize: none;
}

.header {
  position: fixed;
  z-index: 5;
  width: 100%;
}

.burger {
  position: absolute;
  z-index: 10;
  right: 50px;
  top: 50vh;
  cursor: pointer;
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger:hover .burger__patty {
  background: #fff;
}

.burger__patty {
  width: 28px;
  height: 2px;
  margin: 0 0 4px 0;
  background: #6d757d;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.burger__patty:last-child {
  margin-bottom: 0;
}

.burger--close {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.burger--close .burger__patty:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(4px, 4px);
  transform: rotate(45deg) translate(4px, 4px);
}

.burger--close .burger__patty:nth-child(2) {
  opacity: 0;
}

.burger--close .burger__patty:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(5px, -4px);
  transform: rotate(-45deg) translate(5px, -4px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}

.menu--active {
  visibility: visible;
}

.menu__brand,
.menu__list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu__list {
  margin: 0;
  padding: 0;
  background: #030303;
  list-style-type: none;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  transition: all 0.8s cubic-bezier(0.18, 0.96, 0.63, 0.99);
}

.menu__list--active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.menu__brand {
  background: #c06c4b;
  transition: all 0.8s cubic-bezier(0.18, 0.96, 0.63, 0.99);
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.menu__brand--active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.menu__item {
  opacity: 0;
  transition: all 0.8s;
}

.menu__item--active {
  opacity: 1;
}

.menu__link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  padding: 15px 0;
  font-weight: 300;
  color: white;
  text-decoration: none;
  color: white;
  transition: all 0.4s cubic-bezier(0.18, 0.96, 0.63, 0.99);
}

.menu__link:before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 10px;
  height: 2px;
  background: white;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all 0.4s cubic-bezier(0.18, 0.96, 0.63, 0.99);
}

.menu__link:hover:before {
  width: 100%;
}

.menu .menu__item:nth-child(1) {
  transition-delay: 0.1s;
}

.menu .menu__item:nth-child(2) {
  transition-delay: 0.2s;
}

.menu .menu__item:nth-child(3) {
  transition-delay: 0.3s;
}

.menu .menu__item:nth-child(4) {
  transition-delay: 0.4s;
}

.menu .menu__item:nth-child(5) {
  transition-delay: 0.5s;
}

.menu .menu__item:nth-child(6) {
  transition-delay: 0.6s;
}

@media screen and (max-width: 768px) {
  ul.menu__list,
div.menu__brand {
    float: none;
    width: 100%;
    min-height: 0;
  }

  ul.menu__list--active,
div.menu__brand--active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .menu__list {
    height: 80vh;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__brand {
    height: 20vh;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  .menu__brand .logo {
    width: 90px;
    height: 90px;
  }
}
h1,
h2,
h3,
p {
  margin: 0;
  font-weight: 400;
}

main {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 8vw;
}

main h1 > a {
  color: white;
  text-decoration: none;
  font-size: 48px;
  font-weight: 300;
}

.support {
  position: fixed;
  bottom: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.lil_phone {
  color: #fff;
  margin: 15px;
  font-size: 1.5rem;
}

.menu__social li {
  margin-left: 5px;
  margin-right: 5px;
}
.menu__social li a {
  color: #fff;
  font-size: 1.5rem;
}
.menu__social li a:hover {
  color: #fff;
  cursor: pointer;
}

.menu__lang li {
  margin-left: 5px;
  margin-right: 5px;
}
.menu__lang li a {
  color: rgba(255, 255, 255, 0.3);
  font-size: 1.125rem;
}
.menu__lang li a:hover {
  cursor: pointer;
  color: #fff !important;
}

@media screen and (min-width: 992px) {
  .menu__social li a {
    font-size: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
#fp-nav {
  left: 25px;
  z-index: 2;
}

#fp-nav ul li .fp-tooltip {
  left: 25px;
}

#fp-nav ul li a span {
  background: #6c757d;
}

#fp-nav ul li a.active span {
  background: #fff;
}

@media (max-width: 992px) {
  .burger {
    position: absolute;
    z-index: 10;
    right: 25px;
    top: 25px;
  }

  .menu__list {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: start;
    padding-top: 15%;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }
}
.phone {
  position: absolute;
  right: 50px;
  top: 2rem;
}
.phone a {
  font-size: 1.25rem;
  text-decoration: none;
  color: #fff;
  transition: 0.6s all;
}
.phone a:hover {
  color: #c06c4b;
}
.phone .phone-icon {
  height: 100%;
  max-width: 36px;
  margin-right: 30px;
  vertical-align: middle;
}
.phone .phone_orange_line {
  max-width: 55px;
  margin-right: 1rem;
}
.phone span {
  color: #fff;
  font-size: 0.8125rem;
}

.target i {
  color: #c06c4b;
  font-size: 1rem;
  padding: 0 2px;
  position: relative;
  top: 2px;
}

.left-phrase {
  position: absolute;
  left: 50px;
  top: 2rem;
}
.left-phrase p {
  font-size: 1rem;
}

.lang_orange_line {
  max-width: 3.125rem;
}

.lang-btns {
  position: fixed;
  right: 50px;
  bottom: 2.5rem;
}
.lang-btns ul li {
  margin-left: 5px;
  margin-right: 5px;
}
.lang-btns ul li a {
  font-size: 13px;
  color: #474747;
}
.lang-btns ul li a:hover {
  cursor: pointer;
  color: #fff !important;
}

.lang_active {
  color: #c1caca !important;
}

.slash {
  color: #474747;
}

.social {
  position: fixed;
  left: 60px;
  bottom: 2rem;
}
.social ul li {
  margin-right: 2rem;
  font-size: 1.25rem;
}
.social ul li a {
  color: #6c757d;
  transition: 0.6s all;
}
.social ul li a:hover {
  color: #fff;
}

#fullpage {
  color: #fff;
}

.team-01,
.team-02,
.team-03 {
  height: 100vh;
  width: 100vw;
}
.team-01 .container-fluid,
.team-02 .container-fluid,
.team-03 .container-fluid {
  max-width: 90%;
}

.team-01 {
  background: url("../img/vova-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.team-02 {
  background: url("../img/evgen-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.team-03 {
  background: url("../img/rost-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.team_line {
  max-width: 135px;
  max-height: 15px;
  margin-left: 20px;
  vertical-align: middle;
}

.team_links {
  color: #c06c4b;
  font-size: 1.3rem;
  text-decoration: none;
  margin-right: 2rem;
}
.team_links:hover {
  color: rgba(192, 108, 75, 0.8);
  text-decoration: none;
}

.position_name {
  font-size: 1.3125rem;
  font-weight: 400;
}

.member-img {
  max-height: 65vh;
  display: block;
  margin: 0 auto;
}

.member-img-mobile {
  display: none;
}

@media (max-width: 992px) {
  .member-img-mobile {
    display: block;
    max-height: 40vh;
    margin-right: 1rem;
  }

  .team_text {
    position: relative;
    max-width: 100%;
    padding: 10%;
  }

  .team_line {
    display: none;
  }
}
.portfolio_body {
  color: #fff;
  overflow-x: hidden;
  width: 100vw;
  background-image: url("../img/services_bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.portfolio_container {
  margin: 0 auto;
  position: relative;
  top: 15vh;
  margin-bottom: 15vh;
}

.item {
  padding: 1em;
  margin: 0 auto 1em auto;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  transition: all 120ms ease;
}
.item h3 {
  color: #fff;
  margin-top: 0.5rem;
}
.item p {
  color: #c06c4b;
}
.item:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #c06c4b;
  z-index: -1;
  transform: scale(0);
  opacity: 0;
  transition: all 300ms;
}
.item:hover {
  opacity: 0.75;
}
.item:hover::before {
  transform: scale(1);
  opacity: 1;
}
.item img {
  width: 100%;
  height: auto;
  display: block;
}

.grid-sizer, .item {
  width: 30%;
}

@media screen and (max-width: 750px) {
  .grid-sizer, .item {
    width: 45%;
  }
}
@media screen and (max-width: 500px) {
  grid-sizer, .item {
    width: 90%;
  }
}
.project_container {
  position: relative;
  top: 15vh;
  margin-bottom: 20vh;
}

.heading-projects {
  font-weight: bold;
  font-size: 5.125rem;
}

.polimer2 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.project_row-1 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.project_text-1 {
  margin-top: 3rem;
  margin-bottom: 10vh;
}

.project_link {
  text-decoration: none;
  color: #c06c4b;
  position: relative;
}
.project_link:hover {
  color: rgba(192, 108, 75, 0.8);
  cursor: pointer;
}

.portfolio__col {
  padding: 0 !important;
  position: relative;
  overflow: hidden;
}
.portfolio__col img {
  -webkit-filter: brightness(100%);
}
.portfolio__col:hover img {
  cursor: pointer;
  -webkit-filter: brightness(45%);
  transition: all 0.6s;
}
.portfolio__col:hover .portfolio__desc {
  opacity: 1;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.6s;
}

.portfolio__desc {
  opacity: 0;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.portfolio__desc-link {
  margin-top: 3rem;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.portfolio__desc-link:hover {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
