// colors
$orange: #c06c4b;
$muted: #6c757d;
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-moz-selection {
    background: $orange;
}

;
*::selection {
    background: $orange;
}

;
html {
    width: 100%;
    height: 100%;
    font-size: 10px;
    @media (min-width: 768px) {
        font-size: 14px;
    }
    @media (min-width: 1600px) {
        font-size: 18px;
    }
}

body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Proxima Nova Rg';
    background: #000;
    animation: fadeIn 2.2s ease-out;
    // visibility: hidden;
}

a {
    text-decoration: none;
    transition: .6s all;
    &:hover {
        text-decoration: none;
        cursor: pointer;
        color: #fff;
    }
}

// TYPOGRAPHY
.heading {
    font-size: 3.2rem;
    font-weight: bold;
    opacity: 1;
    color: #fff;
}

.regular {
    font-size: 1.3rem;
    color: #c1caca;
    opacity: 1;
    text-align: justify;
}

p {
    text-align: justify;
    backface-visibility: hidden;
    // line-height: 2rem;
}

.heading-contact {
    font-size: 2rem;
    opacity: 1;
    width: 100%;
    color: #fff;
    text-align: center;
    margin-bottom: 1.875rem;
}

// no scroll swiper transitions 
.fullpage-wrapper {
    width: 100%!important;
    transform: none!important;
}

.fp-section {
    width: 100%!important;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: all .7s ease-in-out;
}

.fp-section.active {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.logo {
    height: 30px;
    width: 30px;
    position: fixed;
    left: 20px;
    top: 15px;
    cursor: pointer;
    z-index: 2;
    display: none;
    img {
        max-width: 35px;
    }
}

// custom cursor settings 
* {
    cursor: none !important;
}

@media (min-width: 992px) {
    .cursor {
        --size: 30px;
        height: var(--size);
        width: var(--size);
        border-radius: 50%;
        position: absolute;
        z-index: 10000;
        transform: translate(-50%, -50%);
        pointer-events: none;
        backface-visibility: hidden;
    }
    .cursor.cursor-shadow {
        border: 2px solid $orange;
        // transition: top .25s, left .25s, width .5s, height .5s, border .35s;
        transition: width .5s, height .5s, border .35s;
        transition-timing-function: ease-out;
    }
    .cursor.cursor-dot {
        height: 10px;
        width: 10px;
        background: #fff;
        transition: width .25s, height .25s;
    }
    .cursor-shadow.active {
        --size: 80px;
        z-index: 9000;
    }
    .cursor-dot.active {
        --size: 0;
    }
}

// fadein on-load
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadein {
    visibility: hidden;
}


/* supposing #fullpage is your fullPage.js wrapper */

html,
body,
#fullpage {
    height: 100%;
}

.section {
    height: 100%;
}

.social,
.lang-btns,
.left-phrase,
.phone {
    visibility: hidden;
}

// Reveal animations
.rev-block {
    display: inline-block;
    position: relative;
    backface-visibility: hidden;
    padding: 1px;
}

.rev-block span {
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 1.4s;
}

.rev-block:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    background: $orange;
    animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 1s;
}

@keyframes rev-block {
    0% {
        left: 0;
        width: 0%;
    }
    50% {
        left: 0;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 0%;
    }
}

@keyframes appear-text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#delay span {
    animation-delay: 2s;
}

#delay.rev-block:after {
    background: $orange;
    animation-delay: 1.4s;
}

.zvonok-link {
    color: #fff !important;
    font-size: .8rem;
}