.modal {
	// background: #fff !important;
	z-index: 10000 !important;
	background: rgba(0,0,0, 0.6);
}

.modal-content {
	border: none !important;
	padding: 3%;
	background: #212529;
	color: #fff;
}

.close {
	color: #fff !important;
}

.modal-dialog {
    top: 50% !important;
    transform: translateY(-50%) !important;
	
    @media (min-width: 576px) {
    	max-width: 800px !important;
    }
}

.modal-header {
	border: none !important;
	text-align: center;
}

.modal-title {
	font-size: 2rem;
}

.modal-footer {
	border: none !important;
}

.modal-body {
	p {
		font-size: 1.5rem;
	}

}

.modal-backdrop {
	z-index: 3 !important;
}

.close {
	text-shadow: 0 !important;
	outline: none !important;
	margin: 0 !important;

	&:focus {
		outline: none !important;
	}
}

.modal-zayavka {
	max-width: 800px !important;
}

#input__contacts {
	border: none;
	border-bottom: 1px solid #333;
	padding: 5px;
	margin-bottom: 20px;
	outline: none;
	width: 100%;
	color: #333;
	font-size: 1rem;
}


.attach {
	margin-top: 3%;

	&:hover {
		cursor: pointer;
	}
}

.textarea {
	resize: none;
}

// .modal__link {
// 	font-size: 1.125rem;
// 	text-transform: uppercase;
// 	color: purple;
// 	float: right;
// 	margin-top: 3%;
// 	margin-right: 10%;
// 	text-decoration: none;

// 		&:hover {
// 			cursor: pointer;
// 			text-decoration: none;
// 			color: purple;
// 		}
// }
